@import "src/style/variables";

.render-collapse-panel {
  min-height: 200px;
  padding-top: 12px;
  border-top: 1px dashed #cccccc;

  h4 {
    color: @theme-color;
  }

  .rcp- {
    &content {
      display: flex;
      margin-bottom: 6px;
    }

    &c- {
      &label {
        display: block;
        width: 68px;
        flex: 0 0 68px;
        text-align: right;
        font-size: 12px;
      }

      &value {
        flex: 1;
        color: @word-color;
        text-align: justify;
      }
    }

    &title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &t- {
      &title {
        font-size: 12px;
      }
    }
  }
}
