@import "src/style/variables";

.render- {
  &logo {
    display: inline-flex;
    width: 120px;
    height: 32px;
    margin: 16px @basic-gutter 16px 0;
    color: rgb(255 255 255 / 80%);
    align-items: center;
    justify-content: center;
    background: rgb(255 255 255 / 20%);
  }
}
