@import "variables";
@import "./font/iconfont.css";

.max-width {
  max-width: @max-width;
}

.ellipsis-word {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
